.header{
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}
.header__navbar-item{
    margin: 0 8px;  /*đẩy cách nhau trên dưới 0, trái phải 8px*/
    position: relative;
    min-height: 26px;
}

.header__navbar-user{
    display: flex;
    justify-items: center;
    position: relative;
}
.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.header__navbar-user-name{
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 4px;    /*Tự thêm vào*/
}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}
.header__navbar-user-menu{
    position: absolute;
    z-index: 1; 
    padding-left: 0;
    top: calc(100% + 4px);
    right: 0;
    width: 160px;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}
.header__navbar-user-menu::before{
    z-index: -1;    /*Cho =-1 để cẩu nằm dưới ko bị đè len chữ của tôi trong tài khoản của tôi, thuộc tính này tự thêm*/
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top:-26px
}
.header__navbar-user-menu::after{
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 56%;
    height: 8px;
}
.header__navbar-user-item{

}
.header__navbar-user-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 16px;
    display: block;
}
.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__navbar-user-item a:hover{
    background-color: #fafafa;
}
.header__navbar-item--has-qr:hover .header__qr{ /*Khi hover thì QR code hiện ra, lúc này, ta phải thêm lớp cha là header__qr vào sau*/
    display: block;
}
.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}
.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;  /*Bỏ dấu gạch chân*/
    font-weight: 300;
}
.header__navbar-item,
.header__navbar-item-link
.header__navbar-icon-link{
    display: flex;
    align-items: center;
}
.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover{
    color: rgba(255,255,255,0.7);   /*Di chuyển vào thì mờ đi*/
    cursor: pointer;    /*Di chuột vào sẽ hiện ra hình ngón tay trỏ*/
}
.header__navbar-item--strong{   /*Class để làm chữ đậm*/
    font-weight: 400;
}
.header__navbar-item--separate::after{  /*Làm thanh ngang màu trằng dọc nhỏ phân cách*/
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 16px;
    right:-9px;
    top: 50%;
    transform: translateY(-50%);
}
.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}
.header__navbar-title--no-pointer{
    cursor:text;
    color: var(--white-color);
}
/*Header QR Code*/
.header__qr{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 118%;  /*cao bằng 100% của thằng chứa nó*/
    padding: 8px;
    border-radius: 2px;
    display: none;  /*Ẩn Qr khi ko hover vào*/
    animation: fadeIn ease-in 0.3s;
}
.header__qr::before{    /*Dùng làm cầu để khi hết hover: top:118% thì nó còn nối để hiện QR*/
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
}
.header__qr-img{
    width: 100%
}
.header__qr-apps{
    display: flex;
    justify-content: space-between;
}
.header__qr-link:nth-child(1){    /*Thằng con đầu tiên: gg play*/
    margin-left: 11px;
}
.header__qr-link:nth-child(2){    /*Thằng con thứ 2:  app store*/
    margin-right: 11px;
}
.header__qr-download-img{
    height: 15px;
}

/*Header notifycation*/
.header__notify{
    position: absolute;
    top: 100%;
    right:0;
    width: 404px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    cursor: default;    /*không hiện hình bàn tay khi di chuột vào vùng Thông báo mới nhận, nó hiện con trỏ chuột*/
    transform-origin: calc(100% - 20px) top;/*Định tâm của animation nở ra*/
    animation: headerNotifyGrowth ease-in 0.2s;
    /* -webkit-animation: headerNotifyGrowth ease-in 0.2;
    -ms-animation: headerNotifyGrowth ease-in 0.2;
    -o-animation: headerNotifyGrowth ease-in 0.2;
    -moz-animation: headerNotifyGrowth ease-in 0.2; */
    will-change: opacity, transform;
    display: none;
    z-index: 1; /*Tự thêm vào để hiển thị trước  trên thanh thông báo, vì thanh search có z-index=0*/
}
.header__notify::before{
    content: "";
    border-width: 20px 27px;
    border-style:solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top:-26px
}
.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    right:0;
    top:-16px;
    width:90px;
    height: 20px;
}
@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}
.header__notify-header h3{
    color: #999;
    margin:0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height:40px;
    /* cursor: text;   Hiện con trỏ chuột có thẻ copy,... */
    user-select: none ;/*không cho người dùng copy,...*/
}
.header__notify-list{
    padding-left: 0;

}
.header__notify-item{
    display: flex;
}
.header__notify-item:hover{
    background-color: #f7f7f7;
}
.header__notify-item--viewed{   /*Khi đã xem thì hiện màu cam nhạt, chưa xem thì hiện trắng như bình thường*/
    background-color: rgba(238, 75,43, 0.08);
}
.header__notify-link{
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}
.header__notify-img{
    width: 48px;
    object-fit: contain;
}
.header__notify-info{
    margin-left: 12px;
}
.header__notify-name{
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
}
.header__notify-description{
    display: block;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #756F6E;
    margin-top: 4px;
}
.header__notify-footer{
    display: flex;
}
.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 8px 0px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
}

.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;   /*Khi element con vượt quá element cha thì ẩn đi*/
}
/*Authen Modal: Form */
.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;    /*cho nằm giữa (ở đây là giữa trên dưới bằng nhau)*/
    justify-content: space-between; /*Đẩy 2 ông ra xa nhau, sát 2 mép biên*/
    padding: 0 12px;
    margin-top: 10px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}
.auth-form__form{

}
.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;   /*Khoảng cách top giữa 2 thẻ input*/
    padding: 0 12px;    /*Khoảng cách giữa chữ placehoder và thẻ input trên dưới 0, trái phải 12px*/
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;  /*Lớp bao quanh thẻ input*/
}
.auth-form__input:focus{    /*Border input khi click vào*/
    border-color: #888;
}
.auth-form__aside{
    margin-top: 18px;
}
.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;    /*Chiều cao dòng chữ*/
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link{
    color: var(--primary-color);
    text-decoration: none;
}
.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content:flex-end;
}
.auth-form__controls-back{
    margin-right: 8px;
}
.auth-form__socials{
   background-color: #f5f5f5;
   padding: 16px 32px;
   display: flex;
   justify-content: space-between;
   margin-top: 22px;
}
.auth-form__socials-icon{
    font-size: 1.8rem;
} 

.auth-form__socials--facebook{
    background-color: #3A5A98;
    color: var(--white-color);
}

.auth-form__socials--facebook 
.auth-form__socials-icon{
    color: var(--white-color);
}
.auth-form__socials-title{
    margin: 0 36px;
}
.auth-form__socials--google{
    color: #666;
    background-color: var(--white-color);
} 
.auth-form__help{
    display: flex;
    justify-content: flex-end;  /*dồn sang bên phải*/
    align-items: center;
}
.auth-form__help-link{
    justify-content: center;
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}
.auth-form__help-separate{
    display: block;
    height: 22px;
    margin: 1px 16px 0px;
    border-left: 1px solid var(--border-color);
}
.auth-form__help-forgot{
    color:  var(--primary-color);
}

/*Header with search*/
.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo{
    width: 200px
}
.header__logo-img{
    width: 150px;
    color: var(--white-color);
}
.header__search{
    flex: 1;    /*cho chiếm hết chiều ngang*/
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    z-index: 0; /*Tự thêm vào để ẩn phía sau ô thông báo, ô thông báo có z-index=1*/
}
.header__cart{
    width: 150px;
    text-align: center;
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}
.header__cart-icon{
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 6px;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-list{
    position: absolute;
    top: calc(100% + 7px);
    right: 1px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow:  0 1px 3.125rem 0 rgba(0, 0, 0 ,0.2);
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    display: none;
}
.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__cart-list-item{
    padding-left: 0;
    list-style: none;
}
.header__cart-item{
    display: flex;
    align-items: center;
}
.header__cart-item:hover{
    background-color: #F8F8F8;
}
.header__cart-img{
    width:42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}
.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
}
.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}
.header__cart-item-multiply{
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}
.header__cart-item-qnt{
    font-size: 1.2rem;
    color:  #757575;
}
.header__cart-item-body{
    display: flex;
    justify-content: space-between;

}
.header__cart-item-description{
    color:  #757575;
    font-size: 1.2rem;
    font-weight: 300;
}
.header__cart-item-remove{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
}
.header__cart-item-remove:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.header__cart-view-cart{
    float: right;    /*Đẩy sang right*/
    margin: 0 12px 12px 0;
}
.header__cart-view-cart:hover{
    background-color: #F05D41;
}

.header__cart-list::after{
    cursor: pointer;
    content: "";
    position: absolute;
    right: 3px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}
.header__cart-list--no-cart{
    padding: 24px 0;
}
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header__cart-no-cart-img{
    width: 54%;
    display: none;
}
.header__cart-list-no-cart-msg{
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}

.header__cart-notice{
    position: absolute;
    top: -4px;
    right: -4px;
    padding: 1px 7px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    background-color: var(--white-color);
    color: var(--primary-color);
}
.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}
.header__search-select{
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}
.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-select-icon{
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}
.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
}
.header__search-btn:hover{
    background-color: #fb6445;
    cursor: pointer;
}
.header__search-btn-icon{
    font-size: 1.4rem;
    color:  var(--white-color);
}
.header__search-select:hover .header__search-option{    /*Khi hover vào select thì option hiện lên*/
    display: block;
}
.header__search-option{
    position: absolute;
    right: 0;
    top: 100%;
    width: 130px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    margin-top: 14px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}
.header__search-option::after{
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 0;
}
.header__search-option-item{
    background-color:  var(--white-color);
    padding: 8px 8px;
}
.header__search-option-item:first-child{    /*Bo tròn 2 góc trên của option, tức là 2 góc trên của li đầu tiên*/
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__search-option-item:last-child{     /*Bo tròn 2 dưới trên của option, tức là 2 góc dưới của li cuối cùng*/
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__search-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}
.header__search-option-item span{
    font-size: 1.4rem;
    color:  var(--text-color);
    margin-left: 8px;
}
.header__search-option-item i{  
    font-size: 1.2rem;
    color:  var(--primary-color);
    margin-left: 12px;
    display: none;
}
.header__search-option-item--active i{
    display: inline-block;
}
.header__search-input:focus ~ .header__search-history{    /*Khi đặt con tỏ chuột vào ô input thì hiện ra lịch sử tìm kiếm */
    display: block;
}

/*Search history*/
.header__search-history{
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    display: none;
    overflow: hidden;
}
.header__search-history-heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}
.header__search-history-item{
    height: 38px;
    padding: 0 12px;
}
.header__search-history-item:hover{
    background-color: #fafafa;
}
.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 38px;
    color: var(--text-color);
    display: block;
}